@font-face {
    font-family: 'Raleway';
    src: local("Raleway"), url("./assets/raleway/static/Raleway-Bold.ttf"), format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: 'Raleway';
    src: local("Raleway"), url("./assets/raleway/static/Raleway-Light.ttf"), format("truetype");
    font-weight: lighter;
}

@font-face {
    font-family: 'Raleway';
    src: local("Raleway"), url("./assets/raleway/static/Raleway-Regular.ttf"), format("truetype");
    font-weight: normal;
}

body{
    background-color: #FEBA0D !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}