:root{
    --primary-400: #DB244F;
    --primary-500: #9E1536;
    --secondary-400: #24BADB;
    --secondary-500: #166F8B;
    --secondary-600: #202F3A;
    --white-400: #E0EEF0;
    --white-300: #FFFFFF;
    --black-400: #1E1E1E;
    --accent-400: #F9CB52
}

.background-primary{
    background-color: var(--primary-400);
}

.background-white-400{
    background-color: var(--white-400);
}