.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.logo{
    color: var(--black-400, #1E1E1E);
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.link{
    color: var(--white-300, #FFF);
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}